body {
  text-align: center;
  background-image: linear-gradient(rgb(70, 68, 68), grey);
}

.flex-center{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  color: white;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translate(0%, -900%);
}

.App-description {
  color: white;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translate(0%, -1500%);
}